html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}
* {
  margin: 0;
  padding: 0;
}

html {
  font-family: Helvetica, Verdana, sans-serif;
}

body {
  margin: 100px 100px;
  margin-bottom: 20px;
}

.header-container {
  display: flex;
}

.name {
  flex: 3 1 auto;
  /* margin-right: auto; */
}

.navigation {
  display: flex;
  flex: 1 1 auto;
  /* margin-left: auto; */
  justify-content: space-between;
}

h1 {
  font-size: 40px;
  margin-bottom: 40px;
}

h2 {
  font-size: 30px;
  margin-bottom: 30px;
}

h3 {
  font-size: 20px;
  margin-top: 20px;
}



p, ul {
  font-size: 20px;
}

a {
  text-decoration: none;
  color: black;
}

#work, #about, #contact {
  margin: 0 10px;
}