html {
  box-sizing: border-box;
  font-family: Helvetica, Verdana, sans-serif;
  width: 100vw;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

* {
  margin: 0;
  padding: 0;
}

body {
  max-height: 100%;
}

.index-page-container {
  width: 100vw;
  height: 100vh;
}

nav {
  display: flex;
  padding: 20px 100px;
  align-items: center;
  width: 100%;
  font-weight: bold;
  background-color: white;
}

.cover-img-container {
  display: flex;
  overflow: hidden;
  width: inherit;
  height: inherit;
  position: relative;
}

.cover-img-container img {
  max-width: inherit;
  max-height: inherit;
  height: inherit;
  width: inherit;
  object-fit: cover;
}

#work-header {
  background-color: rgb(208, 208, 208);
}

#about-header {
  background-color: rgb(208, 208, 208);
}

#blog-header {
  background-color: rgb(208, 208, 208);
}

#contact-header {
  position: absolute;
  width: 100%;
  background-color: rgb(208, 208, 208);
  z-index: 3;
}

.logo {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0 100px 0 0;
  height: 35px;
}

.logo-name {
  flex: 2 1 auto;
  font-size: 30px;
  /* margin-right: auto; */
}

.logo-name a {
  text-decoration: none;
  color: black;
}

nav ul {
  float: right;
  margin-right: 20px;
  margin-left: auto;
  /* justify-content: space-between; */
}

nav ul li {
  display: inline-block;
  line-height: 40px;
  margin: 0 5px;
  padding-left: 50px;
  font-size: 30px;
  text-decoration: none;
  list-style: none;
}

.checkbtn {
  font-size: 30px;
  float: right;
  line-height: 40px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}

#check {
  display: none;
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 20px;
}

p, ul {
  font-size: 20px;
}

h2 a, li a {
  text-decoration: none;
  color: black;
}

#work, #about, #contact, #blog {
  margin: 0 10px;
}

.page-content {
  margin: 50px 200px;
}

.blog-content {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.blog-article {
  width: 70%;
  line-height: 2em;
}

.blog-article h3 {
  font-size: 26px;
}

.blog-article-titles {
  width: 20%;
  text-align: right;
}

#blog-titles-heading {
  padding-bottom: 30px;
}

.blog-images {
  width: 60%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

ul {
  list-style: none;
}

.section-title {
  padding-bottom: 20px;
}

.return-link {
  padding-top: 20px;
  padding-bottom: 100px;
}

#about-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 30px;
}

#about-container img {
  min-width: 180px;
  max-width: 180px;
  align-self: flex-start;
}

#about-container video {
  align-self: center;
}

#about-content {
  margin-top: 50px;
  align-self: center;
  width: 80%;
  text-align: left;
  margin-bottom: 50px;
}

.contact-page-wrapper {
  position: relative;
  display: flex;
}

.contact-page-wrapper nav {
  z-index: 4;
}

#contact-page-content {
  position: absolute;
  /* width: 100%; */
  top: 0px;
  left: 0px;
  height: 100vh;
  color: white;
  z-index: 2;
  margin-bottom: 4em;
}

#contact-page-content h2 {
  margin-top: 4em;
}

.contact-img-container {
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}

.contact-img-container img {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
}

form {
  background: rgba(27, 31, 34, 0.80);
  width: 640px;
  margin: 50px auto 50px 0;
  max-width: 97%;
  border-radius: 4px;
  padding: 55px 30px;
}

form .item {
  display: flex;
  flex-direction: column;
  margin-bottom: 24px;
  width: 48%;
}

form label {
  display: block;
  font-size: 18px;
  letter-spacing: 3.5px;
  margin-bottom: 16px;
  color: white;
}

form .item input {
  border-radius: 4px;
  border: 1px solid white;
  outline: 0;
  padding: 16px;
  width: 100%;
  height: 44px;
  background: transparent;
  font-size: 17px;
}

form .full {
  margin-bottom: 24px;
}

form .full input {
  background: transparent;
  border-radius: 4px;
  border: 1px solid white;
  outline: 0;
  padding: 12px 16px;
  width: 100%;
  height: 200px;
  font-size: 17px;
}

form .action {
  margin-bottom: 32px;
}

form .action input {
  background: transparent;
  border-radius: 4px;
  border: 1px solid white;
  cursor: pointer;
  font-size: 13px;
  font-weight: 600;
  height: 44px;
  letter-spacing: 3px;
  outline: 0;
  padding: 0 20px 0 22px;
  margin-right: 10px;
}

form .action input[type="submit"] {
  background: white;
  color: black;
}

form input[type="reset"] {
  color: white;
}

form .icons a {
  border: 1px solid white;
  border-radius: 50%;
  line-height: 36px;
  text-align: center;
  font-weight: 600;
  width: 38px;
  margin-right: 10px;
}

form .item input:focus,
form .full textarea:focus,
form .action input[type="reset"]:hover,
form .icons a:hover {
  background: rgba(255, 255, 255, 0.075);
}

.full input, .item input {
  color: white;
}

@media (max-width: 1500px) {
  nav {
    display: flex;
    padding: 20px 50px;
    align-items: center;
    width: 100%;
    font-weight: bold;
    background-color: white;
  }

  nav ul li {
    display: inline-block;
    line-height: 40px;
    margin: 0 5px;
    padding-left: 50px;
    font-size: 30px;
    text-decoration: none;
    list-style: none;
  }

  .page-content {
    margin: 50px 50px;
  }

}

@media (max-width: 1150px) {
  nav ul li a {
    font-size: 24px;
  }

  nav ul li {
    padding-left: 0;
  }
  
}

@media (max-width: 952px) {
  nav {
    padding-left: 30px;
    padding-right: 30px;
  }

  .logo {
    font-size: 30px;
  }

  nav ul li {
    padding-left: 0;
  }

  nav ul li a {
    font-size: 24px;
  }

  .page-content {
    margin: 50px 50px;
  }

  #about-container {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
  }

  #about-container img {
    width: 30%;
    height: auto;
    margin-bottom: 30px;
  }

  #about-content {
    width: 100%;
    text-align: left;
    margin-bottom: 50px;
    margin-left: 0;
  }
}

@media (max-width: 858px) {
  .checkbtn {
    display: block;
  }

  .logo {
    margin-left: 0;
    margin-right: auto;
  }

  nav {
    padding-right: auto;
    z-index: 3;
    display: flex;
    align-items: center;
    width: 100%;
    font-weight: bold;
    background-color: white;
  }

  ul {
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 80px;
    left: -100%;
    padding-top: 20px;
    text-align: center;
    z-index: 3;
    background-color: grey;;
  }

  nav ul li {
    display: block;
    padding-left: 0;
    margin: 50px 0;
    line-height: 50px;
  }

  nav ul li a {
    font-size: 25px;
  }

  .cover-img-container {
    z-index: 1;
  }

  #check:checked ~ ul {
    left: 0;
  }
}