html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

* {
  margin: 0;
  padding: 0;
}

html {
  font-family: Helvetica, Verdana, sans-serif;
}

body {
  max-height: 100%;
}

.header-container {
  display: flex;
  padding: 20px 100px;
  align-items: center;
  width: 100vw;
}

#work-header {
  background-color: rgb(208, 208, 208);
}

#about-header {
  background-color: rgb(208, 208, 208);
}

#blog-header {
  background-color: rgb(208, 208, 208);
}

#contact-header {
  position: absolute;
  width: 100%;
  background-color: rgb(208, 208, 208);
  z-index: 3;
}

.name {
  flex: 2 1 auto;
  /* margin-right: auto; */
}

.navigation {
  display: flex;
  flex: 1 1 auto;
  /* margin-left: auto; */
  justify-content: space-between;
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 20px;
}

p, ul {
  font-size: 20px;
}

h2 a, li a {
  text-decoration: none;
  color: black;
}

#work, #about, #contact, #blog {
  margin: 0 10px;
}

.page-content {
  margin: 50px 200px;
}

.blog-content {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.blog-article {
  width: 70%;
  line-height: 2em;
}

.blog-article h3 {
  font-size: 26px;
}

.blog-article-titles {
  width: 20%;
  text-align: right;
}

#blog-titles-heading {
  padding-bottom: 30px;
}

.blog-images {
  width: 60%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

ul {
  list-style: none;
}

.section-title {
  padding-bottom: 20px;
}

.return-link {
  padding-top: 20px;
  padding-bottom: 100px;
}

#about-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 30px;
}

#about-container img {
  width: 15%;
}

#about-content {
  width: 80%;
  text-align: left;
}

#contact-page-content {
  position: absolute;
  width: 100%;
  top: 0px;
  left: 0px;
  height: 100vh;
  color: white;
  z-index: 2;
}

#contact-page-content h2 {
  margin-top: 4em;
}

form {
  background: rgba(27, 31, 34, 0.80);
  width: 640px;
  margin: 50px auto 50px 0;
  max-width: 97%;
  border-radius: 4px;
  padding: 55px 30px;
}

form .item {
  display: flex;
  flex-direction: column;
  margin-bottom: 24px;
  width: 48%;
}

form label {
  display: block;
  font-size: 18px;
  letter-spacing: 3.5px;
  margin-bottom: 16px;
  color: white;
}

form .item input {
  border-radius: 4px;
  border: 1px solid white;
  outline: 0;
  padding: 16px;
  width: 100%;
  height: 44px;
  background: transparent;
  font-size: 17px;
}

form .full {
  margin-bottom: 24px;
}

form .full input {
  background: transparent;
  border-radius: 4px;
  border: 1px solid white;
  outline: 0;
  padding: 12px 16px;
  width: 100%;
  height: 200px;
  font-size: 17px;
}

form .action {
  margin-bottom: 32px;
}

form .action input {
  background: transparent;
  border-radius: 4px;
  border: 1px solid white;
  cursor: pointer;
  font-size: 13px;
  font-weight: 600;
  height: 44px;
  letter-spacing: 3px;
  outline: 0;
  padding: 0 20px 0 22px;
  margin-right: 10px;
}

form .action input[type="submit"] {
  background: white;
  color: black;
}

form input[type="reset"] {
  color: white;
}

form .icons a {
  border: 1px solid white;
  border-radius: 50%;
  line-height: 36px;
  text-align: center;
  font-weight: 600;
  width: 38px;
  margin-right: 10px;
}

form .item input:focus,
form .full textarea:focus,
form .action input[type="reset"]:hover,
form .icons a:hover {
  background: rgba(255, 255, 255, 0.075);
}

.contact-video {
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.contact-page-wrapper {
  position: relative;
}

.full input, .item input {
  color: white;
}