html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}
* {
  margin: 0;
  padding: 0;
}

html {
  font-family: Helvetica, Verdana, sans-serif;
}

body {
  max-height: 100%;
}

.header-container {
  display: flex;
  padding: 20px 100px;
}

#work-header {
  background-color: rgb(247, 124, 224);
}

#about-header {
  background-color: rgb(41, 152, 249);
}

#blog-header {
  background-color: rgb(95, 255, 106);
}

#contact-header {
  background-color: #ffc53d;
}

.name {
  flex: 2 1 auto;
  /* margin-right: auto; */
}

.navigation {
  display: flex;
  flex: 1 1 auto;
  /* margin-left: auto; */
  justify-content: space-between;
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 20px;
}

p, ul {
  font-size: 20px;
}

a {
  text-decoration: none;
  color: black;
}

#work, #about, #contact, #blog {
  margin: 0 10px;
}

.page-content {
  margin: 50px 100px;
}

.section-title {
  padding-bottom: 20px;
}

.return-link {
  padding-top: 20px;
}